html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.TRUE-TITLE {
  font-size: 5rem;
  text-align: center;
  background-color: rgb(238, 30, 30);
}
.parent {
  font-size: 3rem;

  display: flex;
  justify-content: space-around;
}

.Title {
  font-size: 3rem;
}
.box1 {
  text-align: center;
  border: black solid 1px;
  margin-top: 5rem;
}
.box2 {
  text-align: center;
  border: black solid 2px;
  margin-top: 5rem;
}
img {
  size: 50%;
}
