html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.TRUE-TITLE {
  background-color: red;
  font-size: 4rem;
  text-align: center;
}
.parent {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.parent2 {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.parent3 {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
  font-size: 4rem;
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
  padding: 7rem;
  box-sizing: border-box;
  width: 20%;
}
.mario {
  padding-bottom: 3rem;
}
img {
  max-width: 120%;
  margin-right: 100px;
}
