html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: black;
}

.header {
  margin-top: 1rem;
  text-align: center;
}
.header:hover {
  transform: skew(-30deg);
}

.title {
  font-family: "Abril Fatface", cursive;
  color: aliceblue;
  font-size: 4rem;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.gallery {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.Fighter-name {
  font-size: 2.5rem;
  opacity: 1;
}
.Fighter-name:hover {
  opacity: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.type {
  font-family: "Abril Fatface", cursive;
  background-color: white;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.type:hover {
  opacity: 1;
  animation: fade 2s linear;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.card {
  font-family: "Abril Fatface", cursive;
  border: 3px solid red;
  box-shadow: 7px 7px rgb(194, 36, 36);
  border-radius: 3rem;
  flex: 1 1 30%;
  height: 100px;
  text-align: center;
  margin: 2rem;
  padding-bottom: 35rem;
  background-color: white;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.card:hover {
  background-color: red;
  outline: 1.2rem solid rgb(255, 255, 255);
}
.fighter-img:hover {
  animation-name: spin2;
  animation-duration: 1s;
  animation-timing-function: linear;
  transform: rotate(0deg);
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  margin-top: 2rem;
  max-width: 100%;
  height: 20rem;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@media screen and (max-width: 1366px) {
  .title {
    color: red;
  }
  .card{background-color: black;
    border: 3px solid red;
    box-shadow: 7px 7px red);}
.Fighter-name{
  color: aliceblue;}




@media screen and (max-width: 768px) {
  .title {
    color: black;
  }
  .card {
    background-color: black;
    border: 3px solid gold;
    box-shadow: 7px 7px rgba(255, 230, 0, 0.876);
  }
  .Fighter-name {
    color: white;
  }
  body {
    background-color: white;
  }
}

@media screen and (max-width: 400px) {
  .title {
    color: gold;
  }
  .card {
    background-color: dodgerblue;
    border: 3px solid blue;
    box-shadow: 7px 7px rgb(1, 7, 186);
  }
  .Fighter-name {
    color: white;
  }
  body {
    background-color: pink;
  }
}
